<header class="saas-topbar sticky-top glass-panel-soft">
  <div class="d-flex align-items-center gap-3 w-100">
    <button class="btn btn-icon d-lg-none" id="openSidebar" type="button"><i class="fa-solid fa-bars"></i></button>

    <div class="search-wrap flex-grow-1 position-relative">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input id="globalSearch" type="search" class="form-control" placeholder="Search projects, tasks, people...">
      <div class="search-suggestions" id="searchSuggestions"></div>
    </div>

    <div class="dropdown">
      <button class="btn btn-icon position-relative" data-bs-toggle="dropdown" type="button" aria-expanded="false">
        <i class="fa-regular fa-bell"></i>
        <span class="badge rounded-pill text-bg-danger notification-count" id="notifCount">4</span>
      </button>
      <div class="dropdown-menu dropdown-menu-end notify-menu p-2">
        <div id="notificationList"></div>
      </div>
    </div>

    <button class="btn btn-icon" id="themeToggle" type="button" title="Toggle theme"><i class="fa-regular fa-moon"></i></button>

    <div class="dropdown">
      <button class="btn user-chip" data-bs-toggle="dropdown" type="button" aria-expanded="false">
        <span class="avatar">{{ request.user.first_name|default:'A'|first|upper }}</span>
        <span class="d-none d-md-inline">{{ request.user.get_full_name|default:'Workspace User' }}</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">My Profile</a></li>
        <li><a class="dropdown-item" href="#">Preferences</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>
